.footer{
  background-color: rgba(0, 0, 0, 0.238);
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
}
.footerCont{
  display: flex;
  justify-content:space-around;
}
.flex{
  width: 250px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.Contact{
  font-size: 40px;
  font-weight: bold;
  color: #fff;
}
.label{
  font-size: 35px;
  font-weight: bold;
  color: #fff;
}
.number{
  font-size: 23px;
  font-weight: bold;
  color: #fff;
}